body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/*---flex---*/

.flexcenter {
    display: flex;
    justify-content: center;
}
.flexstart {
    display: flex;
    justify-content: flex-start;
}
.flexend {
    display: flex;
    justify-content: flex-end;
}
.spacebetween {
    display: flex;
    justify-content: space-between;
}
.spacearound {
    display: flex;
    justify-content: space-around;
}
.flexstartalt {
    display: flex;
    align-items: flex-start;
}
.flexendalt {
    display: flex;
    align-items: flex-end;
}
.flexcenteralt {
    display: flex;
    align-items: center;
}
.flexbaseline {
    display: flex;
    align-items: baseline;
}
.flexstretch {
    display: flex;
    align-items: stretch;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
}
.flexcolumnreverse {
    display: flex;
    flex-direction: column-reverse;
}
.flexrow {
    display: flex;
    flex-direction: row;
}
.flexrowreverse {
    display: flex;
    flex-direction: row-reverse;
}
.flexwrap {
    flex-wrap: wrap;
}
.flexnowrap {
    flex-wrap: nowrap;
}
.flexwrapreverse {
    flex-wrap: wrap-reverse;
}
.flexstartself {
    align-self: flex-start;
}
.flexendself {
    align-self: flex-end;
}
.flexcenterself {
    align-self: center;
}
.flexbaselineself {
    align-self: baseline;
}
.flexstretchself {
    align-self: stretch;
}
/*---display---*/

.block {
    display: block;
}
.inline {
    display: inline;
}
.inlineblock {
    display: inline-block;
}
/*---border---*/

.solidborder {
    border-style: solid;
}
.doubleborder {
    border-style: double;
}
.dashedborder {
    border-style: dashed;
}
.dottedborder {
    border-style: dotted;
}
.grooveborder {
    border-style: groove;
}
.ridgeborder {
    border-style: ridge;
}
. .insetborder {
    border-style: inset;
}
.outsetborder {
    border-style: outset;
}
.
/*---border-width---*/

.thin {
    border-width: thin;
}
.thinonhover:hover {
    border-width: thin;
}
.medium {
    border-width: medium;
}
.mediumonhover:hover {
    border-width: medium;
}
.thick {
    border-width: thick;
}
.thickonhover:hover {
    border-width: thick;
}
/*---text---*/

.underline {
    text-decoration: underline;
}
.underlineoff {
    text-decoration: none;
}
.crossline {
    text-decoration: line-through;
}
.lower {
    text-transform: lowercase;
}
.upper {
    text-transform: uppercase;
}
.textincenter {
    text-align: center;
}
/*---brace---*/

.spikebrace {
    font-family: monospace;
    quotes: "<" ">";
}
.spikebrace:before {
    content: open-quote;
}
.spikebrace:after {
    content: close-quote;
}
.squarebrace {
    font-family: monospace;
    quotes: "[" "]";
}
.squarebrace:before {
    content: open-quote;
}
.squarebrace:after {
    content: close-quote;
}
.curlybrace {
    font-family: monospace;
    quotes: "{" "}";
}
.curlybrace:before {
    content: open-quote;
}
.curlybrace:after {
    content: close-quote;
}
.quotes {
    font-family: monospace;
    quotes: "'" "'";
}
.quotes:before {
    content: open-quote;
}
.quotes:after {
    content: close-quote;
}
.doublequotes {
    font-family: monospace;
    quotes: '"' '"';
}
.doublequotes:before {
    content: open-quote;
}
.doublequotes:after {
    content: close-quote;
}
/*---font---*/

.timesnewroman {
    font-family: Times New Roman, serif;
}
.arial {
    font-family: Arial, sans-serif;
}
/*---transition---*/

.linearfast {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.linear {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.linearslow {
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: linear;
}
.easefast {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.ease {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.easeslow {
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
}
.easeinfast {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
.easein {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.easeinslow {
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
}
.easeinoutfast {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.easeinout {
    transition: all ease-in-out 1s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.easeinoutslow {
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
.easeoutfast {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.easeout {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.easeoutslow {
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}
/*---shape---*/

.parallelogram10 {
    transform: skewx(10deg);
}
.parallelogram-10 {
    transform: skewx(-10deg);
}
.parallelogram20 {
    transform: skewx(20deg);
}
.parallelogram-20 {
    transform: skewx(-20deg);
}
.parallelogram30 {
    transform: skewx(30deg);
}
.parallelogram-30 {
    transform: skewx(-30deg);
}
.parallelogram40 {
    transform: skewx(40deg);
}
.parallelogram-40 {
    transform: skewx(-40deg);
}
.circle {
    border-radius: 100%;
}
.halfcirclebottom {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.halfcircletop {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
.halfcircleleft {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}
.halfcircleright {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
/*---roll---*/

.roll:hover {
    transform: rotate(360deg);
}